.ToastSecond{
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: space-between;
}
.ToastSecondActive{
    transform: translateX(1000px);
    filter: drop-shadow(red -1000px 0);
}
.ToastSecondCity{

}
.ToastSecondYes{

}
.ToastSecondYesActive {
    display: none;
}
.SecondPlaceHolder {
    display: flex;
    height: 44px;
    width: 100%;
    justify-content: center;
}