* {
    margin: 0;
    padding: 0;
}
.ToastMain {
    background-color: rgba(248, 248, 250, 1);
    display: flex;
    flex-flow: row nowrap;
    overflow: hidden;
}
.ToastLeft {
    flex: 1;
}

.ToastRight {
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    flex: 2;
    background-color: white;
}